.footer {
  background-color: collection-color(footer-bg-color);

  // .footer_row
  &_row {
    text-align: center;
    @include for-size(desctop){
      display: flex;
    }
    
  }

  // .footer__contacts
  &__contacts {
    font-style: normal;
    @include for-size(desctop){
      padding: 0 0 60px 0;
      margin-right: 86px;
    }

  }

  // .footer__logo
  &__logo {
    span {
      color: #ffff;
    }
    @include for-size(desctop){
      margin: 60px 0 20px 0;
    }
    

  }

  // .footer__social
  &__social {
    display: block;
    text-align: center;
    @include for-size(desctop){
      margin: 71px 0 0 0;
    }
    
  }

  // .footer__form
  &__form {
    @include for-size(desctop){
      margin: 71px 0 0 92px;
    }
  }
}
.f-contacts {
  // .f-contacts__list
  &__list {
    padding: 0;
    li {
      display: block;
      margin: 0 0 9px 0;
    }
    li:last-child {
      margin: 0;
    }
  }

  // .f-contacts__link
  &__link {
    @include font-modify(#{collection-color(social--link--color)}, 14, 400, 0.03em, 24);
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: collection-color(action-color);
    }
  }
}




