.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}

/*=========TITLE=============*/
/* H1 */
h1 {
  font-weight: 900;
  font-size: 44px;
  color: #ffff;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
}
/* H2 */
.sub-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}
/* H3 */
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-title-color);
}

/*====HEADER=========*/

._active.menu__link::after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--action-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 27px;
}

/* .menu__list li + li {
    margin-left: 50px;
  } */

/* .header__contacts {
    display: flex;
    margin-left: auto;
  }
  .header__contacts li + li {
    margin-left: 20px;
  }
  .header__contacts li {
    display: flex;
    align-items: center;
  }
  .header__contacts li a {
    margin-left: 10px;
  } */
/* .contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: calc(16 / 14);
    text-decoration: none;
    color: #757575;
    padding-top: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
/* .contacts__link a {
    margin-left: 10px;
  }
  .contacts__link svg {
    margin-right: 10px;
  }
  .header__contacts .contacts__link:hover {
    color: var(--action-color);
    outline-color: var(--action-color);
  }
  .header__contacts .contacts__link:focus {
    color: var(--action-color);
    outline-color: var(--action-color);
  }
  .header__contacts .contacts__link:hover .icon {
    fill: var(--action-color);
  }
  .header__contacts .contacts__link:focus .icon {
    fill: var(--action-color);
  } */

/*=========BANNER===========*/
/*   .banner {
    margin: 0 auto;
    background-color: var(--banner-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 201px 0;
    text-align: center;
  }
  .banner__title {
    padding: 0 23%;
    margin: 0 0 30px 0;
  } */
/* .button {
  width: 200px;
  height: 50px;
  text-align: center;
  background: var(--action-color);
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  line-height: calc(30 / 16);
  outline: none;
  cursor: pointer;
  border: inherit;
} */
/* Modal window==================== */
/*  .modal__order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: var(--modal-shadow);
    border-radius: 4px;
    padding: 40px 40px;
  } */
/*  .modal_container {
    margin: 0 auto;
  }
  .modal__form {
    display: flex;
    flex-direction: column;
  } */

/* .form__list .form__item:not(:last-child) {
  margin-bottom: 28px;
} */
.form__list .form__item.form-comment {
  margin-bottom: 17px;
}
/* .form__list .form__item:last-child {
  margin-bottom: 29px;
} */
/*  .modal__title {
    font-weight: bold;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  } */
/*   .form__field {
    position: relative;
  } */

/*  .form__field--checkbox {
    margin: 0 auto;
  } */
/*   .form__label {
    position: absolute;
    top: -29px;
    left: 0;
  
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
  } */
/*  .form__label--checkbox {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
    cursor: pointer;
  } */
/*   .form__label--checkbox::before {
    content: " ";
    display: inline-block;
    vertical-align: -11%;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
/* .modal__checkbox:checked ~ .form__label--checkbox::before {
  border: 2px solid var(--action-color);
  border-radius: 2px;
  background-color: var(--action-color);
  background-image: url(../images/control/vector-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

/*   .form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    color: #757575;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  } */
/* .comment ~ .form__label {
  top: -124px;
} */
/*   .comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
  } */

/*   .form__icon {
    position: absolute;
    display: block;
    top: 70%;
    left: 12px;
    transform: translateY(-64%);
  } */

/*  .comment::placeholder {
    font-size: 12px;
    line-height: cacl(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  } */
/* .form__input:focus,
.comment:focus {
  outline-color: var(--action-color);
  color: #757575;
}
.form__field:focus-within > .form__icon {
  fill: var(--action-color);
} */

/*   .checkbox-link {
    display: inline;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--action-color);
  } */

/*   .form__submit-btn {
    margin: 0 auto;
    cursor: pointer;
  } */
/*  .form__submit-btn:disabled {
    background-color: #757575;
  } */
/*   .btn-close {
    position: absolute;
    top: 7px;
    right: 6px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
  } */
/*  .btn-close .icon {
    fill: #000;
  }
  .btn-close:hover .icon {
    fill: var(--action-color);
  } */
/*=========RESPONS===========*/
/*  .respons__list {
    display: flex;
    margin-left: calc(-1 * var(--card-respons-set-gap));
  }
  .respons__list li + li {
    margin-left: 30px;
  }
  .respons__item {
    flex-basis: calc(100% / 3 - var(--card-respons-set-gap));
    margin-left: var(--card-respons-set-gap);
  } */
/*  .item__icon {
    margin: 0 0 31px 0;
    padding: 25px 0;
    background: #f5f4fa;
    border-radius: 4px;
  } */

/* .respons__item h3 {
    text-align: left;
    margin-bottom: 10px;
  }
  .respons__item p {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--common-text-color);
    text-align: left;
  } */
/*=========TASKS===========*/
/*   .tasks {
    padding-top: 2px;
  }
  .tasks__title {
    margin-bottom: 50px;
  } */
/*   .page__team {
    background-color: var(--team-bg-color);
  } */
/*  .tasks__list {
    display: flex;
  } */

/*   .tasks__list li:not(:first-child) {
    margin-left: 30px;
  } */
/*   .tasks__item {
    position: relative;
  } */
/*   .tasks__item .label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  } */
/*=========TEAM===========*/
/* 
  .team__title {
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    justify-content: space-between;
  }
  .team__item {
    max-width: calc(100% / 3 - var(--card-set-gap));
    background-color: #ffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__img {
    margin: 0 0 30px 0;
  }
  .team__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0 16px 0;
  }
  .team__content p:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 0 11px 0;
  }
  .team__content p:last-child {
    font-size: 16px;
    line-height: 1.187;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--common-text-color);
  }
  .team__social {
    padding: 0 32px 30px 32px;
  } */
/* ========CLIENTS==========*/

/* .clients__title {
    color: #000;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  } */
/*  .clients__list {
    display: flex; */
/*   flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap)); */
/*   } */
/*   .clients__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: calc((100% - 30px * 5) / 6);
    height: 92px;
  }
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
  .clients__item:hover,
  .clients__item:focus {
    border: 1px solid var(--action-color);
    cursor: pointer;
  }
  .clients__item:hover svg {
    fill: var(--action-color);
  } */
/* .clients__item:first-child .clients__link {
    padding: 22px 63px;
  }
  .clients__item:nth-child(2) .clients__link {
    padding: 19px 64px;
  }
  .clients__item:nth-child(3) .clients__link {
    padding: 24px 61px;
  }
  .clients__item:nth-child(4) .clients__link {
    padding: 24px 43px;
  }
  .clients__item:nth-child(5) .clients__link {
    padding: 22px 53px;
  }
  .clients__item:last-child .clients__link {
    padding: 22px 37px;
  } */

/*=========FOOTER===========*/
/* .footer {
  background-color: var(--footer-bg-color);
}
.footer__logo {
  margin: 60px 0 20px 0;
}
.footer__logo span {
  color: #ffff;
}
.footer_row {
  display: flex;
}
.footer__contacts {
  font-style: normal;
  padding: 0 0 60px 0;
  margin-right: 86px;
}
.f-contacts__list {
  padding: 0;
}
.f-contacts__list li {
  display: block;
  margin: 0 0 9px 0;
}
.f-contacts__list li:last-child {
  margin: 0;
}
.f-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--social--link--color);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f-contacts__link:hover {
  color: var(--action-color);
}
.footer__social {
  margin: 71px 0 0 0;
}
.social__list {
  display: flex;
}
.social__list li:not(:first-child) {
  margin-left: 10px;
}
.social__title,
.f-form__title {
  color: #ffff;
  margin-bottom: 20px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
}
.social__link a {
  padding: 11px 11px;
  border-radius: 22px;
}

.social__list li:hover svg {
  fill: #ffff;
}
.social__list li:hover {
  background-color: var(--action-color);
}

.footer__form {
  margin: 71px 0 0 92px;
}
.form__submit-btn {
  display: block;
}
.f-input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 14.8px 0;

  font-size: 16px;
  line-height: calc (20 / 16);
  letter-spacing: 0.03em;
  color: currentColor;
  width: 358px;
  margin-right: 12px;
}
.f-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  padding-left: 16px;
}

.f-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}
.f-form__icon {
  color: #ffff;
}
.f-form__icon .btn-icon {
  fill: currentColor;
}

.f-form_icon {
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
 */
/* PORTFOLIO */
/* .portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__filter li + li {
  margin-left: 8px;
} */
/* .filter__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn.active {
  background: var(--action-color);
  color: #ffff;
}
.filter__btn:hover {
  background-color: var(--action-color);
  color: #ffff;
  box-shadow: var(--btn-shadow);
} */
/* .portfolio__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.portfolio__list > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.portfolio__item {
  cursor: pointer;
} */
.item__card {
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
._overlay {
  position: relative;
  overflow: hidden;
}
.item__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #ffff;
  font-size: 18px;
  line-height: calc(28 / 18);
  padding: 63px 24px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item__card:hover {
  box-shadow: var(--card-shadow);
}
.item__card:hover .item__text-overlay {
  transform: translatey(0);
}
.item__content {
  padding: 21px 23px 0 23px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.item__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  color: #212121;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}
.item__group {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--common-text-color);
  padding: 0 0 20px 0;
}
.our-contacts {
  padding: 200px 0;
  background-color: var(--main-bg-color);
}
